* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: Helvetica;
  background: #f5f5f5;
}
h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 24px;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}

h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

h4 {
  font-size: 20px;
  color: #616161;
  text-align: center;
}

/* Navigation */

.logo {
  float: left;
  text-align: center;
}

.nav {
  background-color: #f9d648;
  overflow: hidden;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.nav div {
  display: inline-block;
}

.nav-links {
  float: right;
  display: flex;
  margin: 0;
}

.nav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover {
  color: #003583;
}

.nav a:active {
  color: #003583;
  font-weight: bold;
}

/* Hero */
.intro {
  margin-bottom: 80px;
}

.author_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  margin-bottom: 80px;
  margin-top: 24px;
}

/* Cards */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 24px;
  gap: 24px;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  width: 340px;
}

.card img {
  margin-bottom: 24px;
}

.tag {
  align-self: flex-start;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f9d648;
  margin-bottom: 16px;
}

/* Registration */
.form_container {
  padding: 80px;
  max-width: 600px;
  margin: auto;
}

/* Overwriting hr style for the registration */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #003583;
  color: #fff;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
  margin-bottom: 24px;
}

.registerbtn:hover {
  opacity: 1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Footer */
.footer {
  padding: 24px;
  text-align: center;
  background: #f9d648;
  width: 100%;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
