{% extends 'simple_pages/base.html' %} {% block title %}About{% endblock %} {%
block body %}
<h1>About me</h1>
<h4>
  Hi, I’m Tina, a UX Designer with a background in hospitality. I care about
  people and believe that technology should make our lives better, not worse.
  Compassionate empathy was not just a nice to have, but my job in customer
  service – and it's probably why, in the end, I got drawn to UX. To complement
  my skills, I spend my spare time writing, reading books,and working on my
  personal projects. If I need some inspiration for my blog, I brew a cup of
  coffee and write, or just go for a walk with my headphones on and take nice
  pictures.
</h4>
<br />
{% endblock %}
