{% extends 'simple_pages/base.html' %} {% block title %}Cookieshop{% endblock %} {% block
body %}
<body>
  <header>
    
  </header>
  <content>
    <hero class="intro">
        <h1>Selflab</h1>
        <h4>“Remind yourself that you cannot fail at being yourself.” – Wayne Dyer</h4>
        <img class="author_img" src="static/img/author_img.png" alt="Author photo" style="height: 200px"></img>
    </hero>
    
    <article-list class="articles">
      <h2>Latest Blog Articles</h2>
      <div class="container">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1547960450-2ea08b931270?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Sleepy cat"
          ></img>
        <span class="tag">Mindfulness</span>
        <h3>How to let it go</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
        </div>
        <div class="card">
          <img
          src="https://images.unsplash.com/photo-1547960450-2ea08b931270?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80"
           alt="Sleepy cat"
         ></img>
         <span class="tag">Mindfulness</span>
         <h3>How to let it go</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
        </div>
        <div class="card">
        <img
          src="https://images.unsplash.com/photo-1547960450-2ea08b931270?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80"
          alt="Sleepy cat"
        ></img>
        <span class="tag">Mindfulness</span>
        <h3>How to let it go</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
      </div>
    </article-list>
  </content>
  
  

</body>
{% endblock %}
