<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookies Page</title>
  </head>
  <body>
    <h1>Cookies</h1>
    <ul>
      {% for slug, cookie in cookies.items() %}
      <li>
        {% if cookie['price'] == '$0.25' %}
        <s>{{ cookie['name'] }}</s>
        {% else %}
        <a href="/cookies/{{ slug }}">{{ cookie['name'] }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
